@model IEnumerable<ChoiceYourBill.Models.Poll>

@{
    ViewBag.Title = "Index";
    ChoiceYourBill.TemplateHelpers.RecordMode.PollsRecordTemplateHelper templateHelper = ViewBag.templateHelper;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Poll Session Name</th>
        <th></th>
    </tr>

@foreach (var item in templateHelper.PollCollectionsGroupHelpers)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table class="table">
                <tr>
                    <th>Id vote</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Restaurant Name</th>
                </tr>

                @foreach (var item_group_vote in item.NextGroups)
                {
                    if (item_group_vote.GroupList != null)
                    {
                        foreach (ChoiceYourBill.Models.Vote item_vote in item_group_vote.GroupList)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item_vote.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item_vote.User.Firstname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item_vote.User.Lastname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item_group_vote.Title)
                                </td>
                            </tr>

                        }

                    }
                    else
                    {
                        <tr><td colspan="3">No Vote for this Option</td>
                            <td>  @Html.DisplayFor(modelItem => item_group_vote.Title) </td>
                        </tr>

                    }
                    <tr><td colspan="4"></td></tr>
                }

            </table>
        </td>
    </tr>
}

</table>
